/* -VARS----------------------------------- */
:root {
  --pink-color: #fb68c2;
  --pink-darker-color: #c51883;
  --pink-lighter-color: #ebd1d3;
  --dark-color: #110404;
  --cream-color: #fffaf7;
  --grey-color: #c2b9b9;
  --gradient-light: linear-gradient(
    126deg,
    rgb(224, 224, 218) 40%,
    rgb(221, 171, 177) 100%
  );
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
/* --CSS-reset----------------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #110404;
  font-weight: 400;
  font-family: "Cormorant", serif;
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /*background-color: var(--cream-color);*/
}
/* -GENERAL-------------------------------------- */
._container {
  max-width: 1080px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.heading {
  font-size: 42px;
  font-weight: 700;
  line-height: calc(60 / 42 * 100%);
  letter-spacing: 0.2px;
  color: var(--pink-color);
}
@media (max-width: 479px) {
  .heading {
    font-size: 36px;
  }
}
/* -HEADER----------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  /*background-color: #ffffff64;*/
}
.header__container {
  min-height: 100px;
  display: flex;
  align-items: center;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 80px;
  }
}
.header__logo {
  width: 180px;
}
.header__logo img {
  width: 100%;
}
.header__menu {
  margin: 0px 0px 0px 100px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 30px;
  }
}
.menu {
  padding: 5px 0;
}
.menu__list {
  flex-wrap: wrap;
  display: flex;
}
.menu__item {
}
.menu__item:not(:last-child) {
  margin: 0px 17px 0px 0px;
}
.menu__link {
  color: var(--dark-color);
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.6px;
  transition: color 0.2s ease-in-out;
  padding: 5px;
}
.menu__link:hover {
  color: var(--pink-color);
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
/* --MAIN------------------------------------------ */
.page {
  flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
}
.prices__container {
}

/* --MAIN-BLOCK------------------------------------- */
.main-block {
  position: relative;
}
.main-block__container {
}
.main-block__body {
  padding: 220px 0px 190px 0px;
  position: relative;
  z-index: 2;
  max-width: 450px;
}
@media (max-width: 992px) {
  .main-block__body {
    padding: 160px 0px 170px 0px;
  }
}
@media (max-width: 479px) {
  .main-block__body {
    padding: 140px 0px 100px 0px;
  }
}
.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}
.main-block__title {
  font-size: 58px;
  font-weight: 700;
  line-height: calc(80 / 58 * 100%);
  letter-spacing: 0.2px;
  color: var(--pink-color);
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}
.main-block__text {
  font-size: 20px;
  line-height: calc(30 / 20 * 100%);
  color: var(--dark-color);
  letter-spacing: 0.3px;
  font-weight: 700;
  opacity: 0.8;
}
@media (max-width: 400px) {
  .main-block__text {
    opacity: 1;
  }
}
.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  background-color: transparent;
  border: 2px solid var(--pink-color);
  border-radius: 30px;
  display: flex;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  color: var(--pink-color);
  font-weight: 700;
  line-height: calc(26 / 16 * 100%);
  letter-spacing: 0.5px;
  text-align: center;
  margin: 10px 0;
  box-shadow: var(--box-shadow);
  transition: color, background-color, border-color 0.2s ease-in-out;
}
@media (max-width: 400px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}
@media (min-width: 400px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
.main-block__button:hover {
  background-color: var(--pink-color);
  color: var(--cream-color);
}

.main-block__button--accent {
  background-color: var(--pink-color);
  color: var(--cream-color);
}
.main-block__button--accent:hover {
  background-color: var(--pink-darker-color);
  border-color: var(--pink-darker-color);
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.main-block__image img {
  object-position: top;
}
@media (max-width: 1300px) {
  .main-block__image img {
    object-position: bottom;
  }
}
@media (max-width: 900px) {
  .main-block__image {
    opacity: 0.4;
  }
}
/* --SERVICES-------------------------------------- */
.services {
  /*margin: -50px 0 0 0;*/
  padding: 50px 0;
  background: rgb(255, 201, 234);
  background: var(--gradient-light);
  border-top: 2px solid var(--pink-lighter-color);
  border-bottom: 2px solid var(--pink-lighter-color);
}
.services__container {
}
.services__body {
}
@media (min-width: 560px) {
  .services__body {
    display: flex;
    margin: 0px -20px;
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .services__body {
    margin: 0px -15px -30px;
  }
}
.services__column {
  padding: 0px 20px;
  flex: 0 1 33.333%;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 992px) {
  .services__column {
    padding: 0px 15px;
  }
}
@media (max-width: 767px) {
  .services__column {
    flex: 0 1 50%;
  }
}
.services__item {
}
.item-service {
  height: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 45px;
  overflow: hidden;
  border: 2px solid #ffe9f8;
  text-align: center;
  background-color: var(--cream-color);
  transition: all 0.2s ease-in-out;
}
.item-service:hover {
  transform: scale(1.03);
  border-color: var(--pink-lighter-color);
}
.item-service__header {
  position: relative;
  z-index: 1;
  height: 140px;
}
@media (max-width: 992px) {
  .item-service__header {
    height: 110px;
  }
}
@media (max-width: 767px) {
  .item-service__header {
    height: 130px;
  }
}
@media (max-width: 560px) {
  .item-service__header {
    height: 130px;
  }
}
.item-service__content {
  padding: 10px 25px 15px;
}
@media (max-width: 992px) {
  .item-service__content {
    padding: 10px 20px 15px;
  }
}
@media (max-width: 560px) {
  .item-service__content {
    padding: 30px 35px;
  }
}
.item-service__content > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.item-service__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}
.item-service__image img {
  object-position: center;
}
.item-service__title {
  position: relative;
  z-index: 1;
  color: var(--pink-color);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24 * 100%);
  letter-spacing: 0.5px;
}
@media (max-width: 992px) {
  .item-service__title {
    font-size: 20px;
  }
}
@media (max-width: 560px) {
  item-service__title {
    font-size: 24px;
  }
}
.item-service__text {
  position: relative;
  z-index: 1;
  line-height: calc(20 / 16 * 100%);
  letter-spacing: 0.3px;
  font-weight: 600;
  opacity: 0.8;
}
@media (max-width: 992px) {
  .item-service__text {
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  .item-service__text {
    font-size: 16px;
  }
}
/* --PRICES--------------------------------------- */
.page__prices {
}
.prices {
  /*margin: -50px 0 0 0;*/
  padding: 50px 0;
  background-color: var(--cream-color);
  position: relative;
}
.prices__body {
  position: relative;
  z-index: 20;
}
.prices__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}
.prices__image img {
  object-position: center;
}
.prices__title {
  text-align: center;
  /*margin: 0px 0px 10px 0px;*/
}
.prices__type {
}
.type-price {
}
.type-price__name {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: calc(32 / 24 * 100%);
  letter-spacing: 0.2px;
  color: var(--pink-darker-color);
}
.type-price__name:not(:last-child) {
  margin: 35px 60px 10px;
}
.type-price__name::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 15px;
  display: block;
  width: 40px;
  height: 2px;
  background: var(--pink-lighter-color);
}
.type-price__table {
}
.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  overflow: hidden;
}
.table thead {
  /*background: var(--pink-lighter-color);*/
  background: rgb(255, 201, 234);
  background: var(--gradient-light);
}
.table thead tr th {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.35px;
  color: var(--dark-color);
  padding: 8px;
  vertical-align: top;
  text-align: center;
}
.table tbody tr td {
  font-size: 18px;
  letter-spacing: 0.5px;
  color: var(--dark-color);
  padding: 8px;
  border-bottom: 1px solid var(--pink-lighter-color);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.486);
}
.table tbody tr td:first-child {
  font-weight: 700;
  color: var(--pink-darker-color);
  position: relative;
  padding-left: 45px;
  text-align: left;
}
.table tbody tr td:first-child::before {
  position: absolute;
  left: 20px;
  top: calc(50% - 7.5px);
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background: url(../images/prices/tulip2.png) 50% 50% no-repeat;
  opacity: 0.7;
}

/* --FOOTER---------------------------------------- */
.footer {
}
