/* -VARS----------------------------------- */
:root {
  --pink-color: #fb68c2;
  --pink-darker-color: #c51883;
  --pink-lighter-color: #ebd1d3;
  --dark-color: #110404;
  --cream-color: #fffaf7;
  --grey-color: #c2b9b9;
  --gradient-light: linear-gradient(
    126deg,
    rgb(224, 224, 218) 40%,
    rgb(255, 194, 232) 100%
  );
  --gradient-dark: linear-gradient(
    126deg,
    rgb(236, 236, 236) 62%,
    rgb(218, 115, 175) 100%
  );
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  --box-shadow-light: 0px 0px 10px rgba(255, 255, 255, 0.553);
}
/* --CSS-reset----------------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
address {
  font-style: normal;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #110404;
  font-weight: 400;
  font-family: "Cormorant", serif;
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /*background-color: var(--cream-color);*/
}
/* -GENERAL-------------------------------------- */
._container {
  max-width: 1080px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.header-block h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: calc(60 / 42 * 100%);
  letter-spacing: 0.3px;
  color: var(--pink-color);
}
.header-block p {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(36 / 28 * 100%);
  letter-spacing: 0.4px;
  color: var(--dark-color);
}
@media (max-width: 479px) {
  .header-block h2 {
    font-size: 36px;
  }
}
.button {
  background-color: transparent;
  border: 2px solid var(--pink-color);
  border-radius: 30px;
  display: flex;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  color: var(--pink-color);
  font-weight: 700;
  line-height: calc(26 / 16 * 100%);
  letter-spacing: 0.5px;
  text-align: center;
  margin: 10px 0;
  box-shadow: var(--box-shadow);
  transition: color, background-color, border-color 0.2s ease-in-out;
}
@media (max-width: 400px) {
  .button {
    flex: 1 1 100%;
  }
}
@media (min-width: 400px) {
  .button:not(:last-child) {
    margin-right: 10px;
  }
}
.button:hover {
  background-color: var(--pink-color);
  color: var(--cream-color);
}
.button--accent {
  background-color: var(--pink-color);
  color: var(--cream-color);
}
.button--accent:hover {
  background-color: var(--pink-darker-color);
  border-color: var(--pink-darker-color);
}
/* --ACTION-BUTTON-------------------------------- */
@keyframes bounce {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
.action {
  position: fixed;
  bottom: 10%;
  right: 4%;
  width: 55px;
  height: 55px;
  padding: 15px;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ea8fcd;
  box-shadow: var(--box-shadow);
  transition: background-color, opacity, width, height 0.2s ease-in;
  background-color: var(--pink-color);
  opacity: 0.8;
  z-index: 200;
  animation: bounce 1s infinite ease-out;
}
.action.active {
  opacity: 1;
  background-color: var(--pink-darker-color);
  animation: none;
}
.action__switch {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}
.action:hover {
  opacity: 1;
}
.action:hover .action__switch {
  transform: scale(0.7);
}
.action img {
  width: 100%;
}
.action__list {
  position: fixed;
  bottom: 19%;
  right: 4%;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  padding: 20px 20px 20px 33px;
  background-color: var(--cream-color);
  border: 2px solid var(--pink-lighter-color);
  border-radius: 40px;
  box-shadow: var(--box-shadow);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in;
}
.action.active .action__list {
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in;
}
.action__list img {
  width: 28px;
  margin: 0px 10px 0px 0px;
}
.action__list-item {
}
.action__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Cormorant", serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--pink-color);
}
.action__list-item:hover .action__link {
  text-decoration: underline;
}
@media (max-width: 479px) {
  .action {
    bottom: 5%;
  }
}
@media (max-width: 767px) {
  .action {
    opacity: 0.6;
  }
}

/* -HEADER----------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  /*background-color: #ffffff64;*/
}
.header__container {
  min-height: 100px;
  display: flex;
  align-items: center;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 80px;
  }
}
.header__logo {
  width: 180px;
}
.header__logo img {
  width: 100%;
}
.header__menu {
  margin: 0px 0px 0px 100px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 30px;
  }
}
.menu {
  padding: 5px 0;
}
.menu__list {
  flex-wrap: wrap;
  display: flex;
}
.menu__item {
}
.menu__item:not(:last-child) {
  margin: 0px 17px 0px 0px;
}
.menu__link {
  color: var(--dark-color);
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.6px;
  transition: color 0.2s ease-in-out;
  padding: 5px;
}
.menu__link:hover {
  color: var(--pink-color);
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
/* --MAIN------------------------------------------ */
.page {
  flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
}
.prices__container {
}
.page__prices {
}
.page__gallery {
}
.page__contact {
}

/* --MAIN-BLOCK------------------------------------- */
.main-block {
  position: relative;
}
.main-block__container {
}
.main-block__body {
  padding: 220px 0px 290px 0px;
  position: relative;
  z-index: 2;
  max-width: 450px;
}
@media (max-width: 1900px) {
  .main-block__body {
    padding: 220px 0px 220px 0px;
  }
}
@media (max-width: 992px) {
  .main-block__body {
    padding: 160px 0px 170px 0px;
  }
}
@media (max-width: 479px) {
  .main-block__body {
    padding: 140px 0px 200px 0px;
  }
}
.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}
.main-block__title {
  font-size: 58px;
  font-weight: 700;
  line-height: calc(80 / 58 * 100%);
  letter-spacing: 0.2px;
  color: var(--pink-color);
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}
.main-block__text {
  font-size: 20px;
  line-height: calc(30 / 20 * 100%);
  color: var(--dark-color);
  letter-spacing: 0.3px;
  font-weight: 700;
  opacity: 0.8;
}
@media (max-width: 400px) {
  .main-block__text {
    opacity: 1;
  }
}
.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  border-radius: 30px;
  min-height: 40px;
  padding: 5px 36px;
  margin: 10px 0;
}
@media (max-width: 400px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}
@media (min-width: 400px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.main-block__image img {
  object-position: top;
}
@media (max-width: 1300px) {
  .main-block__image img {
    object-position: bottom;
  }
}
@media (max-width: 900px) {
  .main-block__image {
    opacity: 0.4;
  }
}
/* --SERVICES-------------------------------------- */
.services {
  /*margin: -50px 0 0 0;*/
  padding: 50px 0;
  background: rgb(255, 201, 234);
  background: var(--gradient-light);
  border-top: 2px solid var(--pink-lighter-color);
  border-bottom: 2px solid var(--pink-lighter-color);
}
.services__container {
}
.services__body {
}
@media (min-width: 560px) {
  .services__body {
    display: flex;
    margin: 0px -20px;
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .services__body {
    margin: 0px -15px -30px;
  }
}
.services__column {
  padding: 0px 20px;
  flex: 0 1 33.333%;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 992px) {
  .services__column {
    padding: 0px 15px;
  }
}
@media (max-width: 767px) {
  .services__column {
    flex: 0 1 50%;
  }
}
.services__item {
}
.item-service {
  height: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 45px;
  overflow: hidden;
  border: 2px solid #ffe9f8;
  text-align: center;
  background-color: var(--cream-color);
  transition: all 0.2s ease-in-out;
}
.item-service:hover {
  transform: scale(1.03);
  border-color: var(--pink-lighter-color);
}
.item-service__header {
  position: relative;
  z-index: 1;
  height: 140px;
}
@media (max-width: 992px) {
  .item-service__header {
    height: 110px;
  }
}
@media (max-width: 767px) {
  .item-service__header {
    height: 130px;
  }
}
@media (max-width: 560px) {
  .item-service__header {
    height: 130px;
  }
}
.item-service__content {
  padding: 10px 25px 15px;
}
@media (max-width: 992px) {
  .item-service__content {
    padding: 10px 20px 15px;
  }
}
@media (max-width: 560px) {
  .item-service__content {
    padding: 30px 35px;
  }
}
.item-service__content > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.item-service__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}
.item-service__image img {
  object-position: center;
}
.item-service__title {
  position: relative;
  z-index: 1;
  color: var(--pink-color);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24 * 100%);
  letter-spacing: 0.5px;
}
@media (max-width: 992px) {
  .item-service__title {
    font-size: 20px;
  }
}
@media (max-width: 560px) {
  item-service__title {
    font-size: 24px;
  }
}
.item-service__text {
  position: relative;
  z-index: 1;
  line-height: calc(20 / 16 * 100%);
  letter-spacing: 0.3px;
  font-weight: 600;
  opacity: 0.8;
}
@media (max-width: 992px) {
  .item-service__text {
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  .item-service__text {
    font-size: 16px;
  }
}
/* --PRICES--------------------------------------- */
.prices {
  background-color: var(--cream-color);
  position: relative;
  padding: 120px 0px;
}
@media (max-width: 992px) {
  .prices {
    padding: 70px 0px;
  }
}
@media (max-width: 479px) {
  .prices {
    padding: 30px 0px;
  }
}
.prices__body {
  position: relative;
  z-index: 20;
}
.prices__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@media (max-width: 767px) {
  .prices__image {
    opacity: 0.2;
  }
}
.prices__image img {
  object-position: right;
}

.prices__title {
  text-align: center;
  margin: 0px 0px 0px 0px;
}
.prices__type {
}
.type-price {
}
.type-price__name {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: calc(32 / 24 * 100%);
  letter-spacing: 0.2px;
  color: var(--pink-color);
  margin: 40px 60px 20px;
}
@media (max-width: 767px) {
  .type-price__name {
    font-size: 22px;
    margin: 20px 60px 15px;
  }
}
@media (max-width: 479px) {
  .type-price__name {
    font-size: 20px;
    margin: 20px 40px 10px;
  }
}
.type-price__name::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 15px;
  display: block;
  width: 40px;
  height: 2px;
  background: var(--pink-lighter-color);
}
@media (max-width: 479px) {
  .type-price__name::before {
    width: 30px;
    left: -40px;
    background: var(--pink-color);
  }
}
.type-price__table {
}
.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  overflow: hidden;
}
.table thead {
  /*background: var(--pink-lighter-color);*/
  background: rgb(255, 201, 234);
  background: var(--gradient-light);
}
.table thead tr th {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.35px;
  color: var(--dark-color);
  padding: 8px;
  vertical-align: top;
  text-align: left;
}
.table tbody tr td {
  font-size: 18px;
  letter-spacing: 0.5px;
  color: var(--dark-color);
  padding: 8px;
  border-bottom: 1px solid var(--pink-lighter-color);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.486);
  text-align: left;
}
@media (max-width: 767px) {
  .table tbody tr td,
  .table thead tr th {
    font-size: 16px;
  }
}
@media (max-width: 479px) {
  .table tbody tr td,
  .table thead tr th {
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.3px;
  }
}
.table thead tr th:first-child {
  padding-left: 45px;
}
.table tbody tr td:first-child {
  font-weight: 700;
  color: var(--pink-darker-color);
  position: relative;
  padding-left: 45px;
  /*text-align: left;*/
}

@media (max-width: 479px) {
  .table tbody tr td:first-child,
  .table thead tr th:first-child {
    text-align: center;
    padding-left: 10px;
  }
}
.table tbody tr td:first-child::before {
  position: absolute;
  left: 20px;
  top: calc(50% - 7.5px);
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background: url(../images/prices/tulip2.png) 50% 50% no-repeat;
  opacity: 0.7;
}
@media (max-width: 479px) {
  .table tbody tr td:first-child::before {
    display: none;
  }
}
/* --GALLERY--------------------------------------- */
.gallery {
  padding: 120px 0px;
  background: rgb(255, 201, 234);
  background: var(--gradient-light);
  border-top: 2px solid var(--pink-lighter-color);
  border-bottom: 2px solid var(--pink-lighter-color);
}
@media (max-width: 992px) {
  .gallery {
    padding: 70px 0px;
  }
}
@media (max-width: 479px) {
  .gallery {
    padding: 30px 0px;
  }
}
.gallery__container {
  position: relative;
}
.gallery__arrow {
  top: 50%;
  position: absolute;
  height: 55px;
  width: 55px;
  padding: 15px;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid #ea8fcd;
  box-shadow: var(--box-shadow);
  transition: width, height 0.2s ease-in;
  background-color: var(--pink-color);
  z-index: 2;
}
.gallery__arrow.disabled {
  opacity: 0.5;
}
.gallery__arrow:hover {
  height: 60px;
  width: 60px;
}
.gallery__arrow--left {
  left: -10px;
  transform: translateY(-50%) rotate(-180deg);
}
.gallery__arrow--right {
  transform: translateY(-50%);
  right: -10px;
}
.gallery__carousel {
}
.carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 10px;
  scroll-behavior: smooth;
}
.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img {
  pointer-events: none;
}
.carousel img {
  height: 340px;
  object-fit: cover;
  margin-left: 14px;
  width: calc(100% / 3);
  box-shadow: var(--box-shadow);
  /*border: 2px solid #ffe9f8;*/
  opacity: 0.9;
}
.carousel img:first-child {
  margin-left: 0px;
}
@media (max-width: 1144px) {
  .gallery__arrow--left {
    left: 50px;
  }
  .gallery__arrow--right {
    right: 35px;
  }
}
@media (max-width: 992px) {
  .carousel img {
    width: calc(100% / 2);
  }
}
@media (max-width: 767px) {
  .carousel {
    padding: 0 10px;
  }
  .carousel img {
    width: 100%;
    height: 420px;
  }
  .gallery__arrow--left {
    left: 5px;
  }
  .gallery__arrow--right {
    right: 5px;
  }
}
@media (max-width: 550px) {
  .carousel img {
    height: 340px;
  }
}
/* --CONTACT--------------------------------------- */
.contact {
  padding: 120px 0px;
  position: relative;
  /*background: rgb(255, 201, 234);
  background: var(--gradient-light);
  border-top: 2px solid var(--pink-lighter-color);
  border-bottom: 2px solid var(--pink-lighter-color);*/
}
@media (max-width: 992px) {
  .contact {
    padding: 70px 0px;
  }
}
@media (max-width: 479px) {
  .contact {
    padding: 30px 0px;
  }
}
.contact__container {
}
.contact__body {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.contact__info {
}
.info-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-contact__heading {
}
.info-contact__content {
  font-size: 20px;
  color: var(--dark-color);
  letter-spacing: 0.2px;
}
.info-contact__content > *:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.info-contact__content > * {
  display: flex;
}
.info-contact__content > *:hover {
  background: var(--gradient-light);
  color: var(--pink-color);
}
.info-contact__content img {
  width: 30px;
}
.info-contact__content img {
  margin: 0px 10px 0px 0px;
}
.info-contact__phone,
.info-contact__email,
.info-contact__address {
  min-height: 45px;
  justify-content: flex-start;
  transition: color, background-color 0.2s ease-in;
  padding: 5px 22px;
}
.info-contact__email {
}
.info-contact__address {
}
.info-contact__socials {
}
.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.socials > *:not(:last-child) {
  margin: 0px 25px 0px 0px;
}
.socials img {
  width: 40px;
}
.socials > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  padding: 15px;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ea8fcd;
  box-shadow: var(--box-shadow);
  transition: background-color 0.2s ease-in;
  background-color: var(--pink-color);
}
.socials > *:hover {
  background-color: var(--pink-darker-color);
}
.socials__instagram {
}
.socials__facebook {
}
.socials__tiktok img {
  width: 30px;
}
.info-contact__hours p {
  font-size: 22px;
  color: var(--dark-color);
  letter-spacing: 0.2px;
  line-height: calc(32 / 20 * 100%);
}
.info-contact__hours span {
  font-weight: 700;
}
.contact__map {
}
.map-contact {
  height: 550px;
  width: 500px;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border: 3px solid var(--cream-color);
  filter: sepia(20%) brightness(95%);
}
.map-contact iframe {
  width: 100%;
  height: 100%;
}
.contact__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
}
@media (max-width: 992px) {
  .map-contact {
    height: 440px;
    width: 340px;
  }
  .info-contact__content {
    font-size: 18px;
  }
  .info-contact__content img {
    width: 24px;
  }
  .info-contact__content > *:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
  .info-contact__hours p {
    font-size: 18px;
  }
  .socials > * {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 767px) {
  .contact__body {
    flex-direction: column;
    text-align: center;
  }
  .info-contact > * {
    margin-bottom: 30px;
  }
  .info-contact__content {
    font-size: 20px;
  }
  .info-contact__hours {
    font-size: 20px;
  }
  .socials {
    justify-content: center;
  }
  .map-contact {
    height: 450px;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .info-contact__content > * {
    padding: 5px 15px;
    font-size: 16px;
  }
}
/* --FOOTER---------------------------------------- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0px;
  background: rgb(255, 201, 234);
  background: var(--gradient-light);
  border-top: 2px solid var(--pink-lighter-color);
  border-bottom: 2px solid var(--pink-lighter-color);
}
@media (max-width: 992px) {
  .footer {
    padding: 15px 0px;
  }
}
@media (max-width: 479px) {
  .footer {
    padding: 10px 0px;
  }
}
.footer__container > *:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.footer__logo {
  width: 160px;
}
.footer__copy {
  color: var(--dark-color);
}
